services:
  app:
    build:
      context: .
      dockerfile: "Dockerfile"
    ports:
      - "80:8000"
    restart: always
    env_file:
      - .env
    volumes:
      - ./mysite/database:/app/database
    environment:
      - DJANGO_DEBUG=1
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
