services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: always
    env_file:
      - .env
    volumes:
      - ./mysite/database:/app/database
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
